@import url('../components/callToAction.css');
@import url('../components/card.css');
@import url('../components/gallery.css');
@import url('../components/hero.css');
@import url('../components/navBar.css');
@import url('../components/stats.css');
@import url('../components/tag.css');


