.favorite-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: red;
    padding: 4px 12px;
    font-size: 0.75rem;
    border-radius: 20px;
    color: white;
    font-weight: bold;
}
.pet-status-badge {
    background-color: #21c285 !important;
    font-size: 0.7rem;
    margin-left: 5px;
    padding: 3px 8px;
    border-radius: 10px;
}