/* navbar.css */
#header {
    height: 80px;
}

.navbar-collapse {
    background-color: transparent;
}

.navbar-collapse.show {
    padding: 10px 15px;
    border-radius: 10px;
}

#petaddoptionnav {
    font-size: 1.75rem; /* fs-3 */
    font-weight: 500;   /* fw-medium */
    color: white;
}

.nav-link {
    font-size: 1.25rem; /* fs-5 */
    margin-right: 1rem; /* me-4 */
    color: white;
}

.navbar .btn {
    background-color: white;
    font-size: 1rem;     /* fs-6 */
    font-weight: 500;    /* fw-medium */
    padding-left: 25px;
    padding-right: 25px;
}

/* Staff Profile Image in Navbar */
.staff-profile-img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    object-fit: cover;
    border: 2px solid white;
}