/* navbar.css */
#header {
    height: 80px;
}

#navmenu {
    background-color: #ffc107;
}

.navbar-collapse.show {
    padding: 10px 15px;
    border-radius: 10px;
}

#petaddoptionnav {
    font-size: 1.75rem; /* fs-3 */
    font-weight: 500;   /* fw-medium */
    color: white;
}

.nav-link {
    font-size: 1.25rem; /* fs-5 */
    margin-right: 1rem; /* me-4 */
    color: white;
}

.navbar .btn {
    background-color: white;
    font-size: 1rem;     /* fs-6 */
    font-weight: 500;    /* fw-medium */
    padding-left: 25px;
    padding-right: 25px;
}

.adopter-navbar {
    background-color: #f7a500;
}

.adopter-navbar .nav-link {
    color: white !important;
    font-weight: 500;
    border-radius: 8px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}


.adopter-navbar .active {
    background-color: #000 !important;
    color: #fff !important;
}

.volunteer-view-btn {
    background: linear-gradient(90deg, #0b3954, #041f28);
    color: #fff;
    border: none;
    border-radius: 10px;
    width: 100%;
    padding: 0.75rem;
    font-weight: 500;
    transition: 0.3s;
}
.volunteer-view-btn:hover {
    opacity: 0.9;
}

.volunteer-navbar {
    background: #41b883;
}
.volunteer-navbar .nav-link {
    color: #fff !important;
    font-weight: 600;
    border-radius: 10px;
    padding: 0.5rem 1rem;
    transition: 0.3s;
}
.volunteer-navbar .nav-link.active {
    background: #fff;
    color: #000 !important;
}

.volunteer-profile-img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    object-fit: cover;
}


#profileDropdown .fw-bold {
  font-size: 0.9rem; 
  line-height: 1;     
}


#profileDropdown .small {
  font-size: 0.75rem; 
  opacity: 0.9;       
}


.navbar .nav-link {
  font-size: 0.9rem;
}


.dropdown-item {
  font-size: 0.9rem;
}


  .adopter-navbar {
    background-color: #F39C12;
  }


  .dropdown-toggle::after {
    display: none !important;
  }

  .dropdown-menu {
    border-radius: 10px;
    border: none;
  }

  .dropdown-item:hover {
    background-color: #f1f1f1;
  }

  .navbar .nav-link {
    font-weight: 500;
  }

  .badge {
    font-size: 0.7rem;
  }

  .staff-navbar-gradient {
      background: linear-gradient(135deg, #667eea 0%, #764ba2 100%);
    }
  
.adopter-profile-edit-btn {
  background-color: #F39C12;
  color: white;
  border: none;
  padding: 0.5rem 1.5rem;
  border-radius: 6px;
  font-weight: 500;
}

.adopter-profile-edit-btn:hover {
  background-color: #e68910;
  color: white;
}

