.staff-pet-tag {
  padding: 8px 16px;
  margin: 6px;
  border: none;
  border-radius: 20px;
  background: #f1f1f1;
  cursor: pointer;
  transition: 0.2s ease;
  font-size: 14px;
}

.staff-pet-tag:hover {
  transform: scale(1.1);
  background: #e0e0e0;
}

.staff-pet-tag:active {
  transform: scale(0.9);
  background: #d6d6d6;
}

.staff-pet-tag.selected {
  background: linear-gradient(135deg, #6A5ACD, #4A3AFF);

  color: white;
  transform: scale(1.1);
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.2);
} 

/*CSS FOR VIEW DETAILS HTML*/
.tag {
    padding: 2px 10px;
    border-radius: 20px;
    font-size: 12px;
    font-weight: 600;
    color: white;
    background-color: #22c55e;
}

.tab-btn {
    border-radius: 40px;
    padding: 8px 20px;
    border: 1px solid black;
    background: white;
}

.tab-btn.active {
    background: black;
    color: white;
}

.info-box {
    border: 1px solid #6366f1;
    border-radius: 10px;
    padding: 20px;
}

.section-title {
    font-weight: 700;
    margin-bottom: 10px;
}

.trait-tag {
    font-size: 12px;
    padding: 2px 8px;
    border-radius: 5px;
    background-color: #e5e7eb;
    margin-right: 5px;
}

.before-after-label {
    background-color: #e5e7eb;
    font-size: 13px;
    font-weight: 600;
    padding: 2px 10px;
    border-radius: 5px;
    display: inline-block;
}
